@import '~/css/core.light.css'; 
label{
    font-size: 80px;
}

.cats{
    font-family: Lato-Black;
}
.fish{
    font-family: fontawesome-webfont;
}

.spin {
    animation-name:spin;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes spin {
    from { transform:rotate (0deg); }
    to { transform:rotate (360deg); }
    
}