button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

.1{
    background-color: red;
}
.2{
    background-color: dodgerblue;
}
.3{
    background-color: limegreen;
}
.4{
    background-color: yellow;
}