<!--<p>
  dashboard marche!
  
</p>
<app-ville-list></app-ville-list>-->
 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
 	<div class="container">
   		<div>
			<h1><a class="navbar-brand " href="#">Greater 6ix</a>
			</h1>
		 </div>
		 <div class="dropdown">
			<button class="btn btn-default dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Left Align">
			<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
   					
   			</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   					<li><a href="/ville-list">Villes</a></li>
   						<ul>
   							<li><a href="">Ajax</a></li>
   							<li><a href="">Brampton</a></li>
    						<li><a href="">Burlington</a></li>
    						<li><a href="">Georgetown</a></li>
    						<li><a href="">Markham</a></li>
    						<li><a href="">Milton</a></li>
    						<li><a href="">Mississauga</a></li>
    						<li><a href="">New Market</a></li>
    						<li><a href="">Oakville</a></li>
    						<li><a href="">Scarborough</a></li>
    						<li><a href="">Toronto</a></li>
    						<li><a href="">Vaughan</a></li>
   						</ul>
   					<li><a href="">A propos de nous</a></li>
				</ul>
		 </div>	
  	</div>
</nav>