<DockLayout stretchLastChild="true">
        
    <StackLayout>
        <router-outlet></router-outlet>
        <StackLayout dock="bottom">
            <GridLayout rows="auto,auto,auto" columns="auto,auto,auto">
                <GridLayout col="0" row="0" ><Button text="switch"  [nsRouterLink]="['/Home-page']" ></Button></GridLayout>
                <GridLayout col="1" row="0" ><Button text="switch2" [nsRouterLink]="['/Login-page']"></Button></GridLayout> 
            </GridLayout>
        </StackLayout>
    </StackLayout>
    
</DockLayout>