<StackLayout class="nav">
  <ActionBar title="The Greater 6ix">
    <!--<android>
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" tap="onNavBtnTap"/>
      <NavigationButton android.icon="res://ic_back" tap="showSlideout"/>
    </android>

    <ios>
      <ActionItem icon="res://ic_menu" ios.position="left" tap="showSideDrawer" />
    </ios>-->

  </ActionBar>
</StackLayout>


<stacklayout>
  <label text="Bienvenue! Clique continuer et choisi une ville" class="bienvenue"></label>
  <Button class="btnChVille" text="Continuer" [nsRouterLink]="['./villes']"></Button>
</stacklayout>

<!--<router-outlet>S.V.P patientez</router-outlet>-->