<ActionBar title="The Greater 6ix">
  <android>
    <!--<NavigationButton icon="res://ic_menu" tap="showSlideout" />-->
  </android>
  <!--<ios>
    <ActionItem icon="res://ic_menu" ios.position="left" tap="showSideDrawer" />
  </ios>-->
</ActionBar>

<StackLayout text="Greater 6ix" class="title" >
 
    <Button class="btnVille" text="Ajax"         (tap)="onTap()"></Button>
    <Button class="btnVille" text="Brampton"     (tap)="onTap()"></Button>
    <Button class="btnVille" text="Burlington"   (tap)="onTap()"></Button>
    <Button class="btnVille" text="Georgetown"   (tap)="onTap()"></Button>
    <Button class="btnVille" text="Markham"      (tap)="onTap()"></Button>
    <Button class="btnVille" text="Milton"       (tap)="onTap()"></Button>
    <Button class="btnVille" text="Mississauga"  (tap)="onTap()"></Button>
    <Button class="btnVille" text="New Market"   (tap)="onTap()"></Button>
    <Button class="btnVille" text="Oakville"     (tap)="onTap()"></Button>
    <Button class="btnVille" text="Scarborough"  (tap)="onTap()"></Button>
    <Button class="btnVille" text="Toronto"      (tap)="onTap()"></Button>
    <Button class="btnVille" text="Vaughan"      (tap)="onTap()"></Button>

    <!--<Label [text]="message" class="message" textWrap="true"></Label>-->
    <Label [text]="message" class="message" textWrap="true"></Label>
</StackLayout>