<ActionBar title="The Greater 6ix">
  <android>
    <!--<NavigationButton icon="res://ic_menu" tap="showSlideout" />-->
  </android>
  <!--<ios>
    <ActionItem icon="res://ic_menu" ios.position="left" tap="showSideDrawer" />
  </ios>-->
</ActionBar>

<StackLayout text="Greater 6ix" class="title" >
 
    <Button class="btnVille" text="Ajax"        [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Brampton"    [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Burlington"  [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Georgetown"  [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Markham"     [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Milton"      [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Mississauga" [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="New Market"  [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Oakville"    [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Scarborough" [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Toronto"     [nsRouterLink]="[/#]"></Button>
    <Button class="btnVille" text="Vaughan"     [nsRouterLink]="[/#]"></Button>

    <!--<Label [text]="message" class="message" textWrap="true"></Label>-->
    <!--<Label [text]="message" class="message" textWrap="true"></Label>-->
</StackLayout>