<!--<h1>
  {{title}}
  <app-dashboard></app-dashboard>
</h1>-->
<!-- Ajoute Pour faire jolie jolie-->
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" orientation="horizontal">
            <div class="navbar-header">
                <a routerLink="/" class="navbar-brand">Greater 6ix</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a routerLink="/">Dashboard</a></li>
                <li><a routerLink="/dashboard/ville-list">Ville</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>