<StackLayout text="Greater 6ix" class="title" >
<label text="Choisissez une ville" class="entete"> </label>

    <Button class="btnVille" text="Ajax"        [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Brampton"    [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Burlington"  [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Georgetown"  [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Markham"     [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Milton"      [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Mississauga" [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="New Market"  [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Oakville"    [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Scarborough" [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Toronto"     [nsRouterLink]="[]"></Button>
    <Button class="btnVille" text="Vaughan"     [nsRouterLink]="[]"></Button>
</StackLayout>