<GridLayout columns="*,3*" rows="2*,3*" width="350" height="500" style.backgroundColor="lightblue" >

    <stack-layout orientation="vertical" width="350" height="210" >
        <Label text="Tap the button" class="title" width="100" height="50" backgroundColor="lightyellow"></Label>
        <Button text="TAP" margin="10" width="100" height="50" (tap)="onTap()" ></Button>
    </stack-layout>
    <Label [text]="message" class="message" textWrap="true" col="3" row="3" width="350"></Label>
</GridLayout>
<!--<StackLayout>
    <Label text="Tap the button" class="title"></Label>
    
    <Button text="TAP" (tap)="onTap()"></Button>

    <Label [text]="message" class="message" textWrap="true"></Label>
</StackLayout>-->